body {
  margin: 0;
  padding: 0;
}

.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("./images/background.webp");
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  font-size: 3rem;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.time-el {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

p {
  font-size: 3rem;
  margin-left: 2rem;
  width: 5rem;
}

.time-el span {
  font-size: 1rem;
}
